<!DOCTYPE html>
<html>
  <head>
    <title>LALIGA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 
  </body>
</html>
<style>
  body {
    background-image: url(../images/d9717ac-d47427e6-1cd4-40d4-abc4-dc2697a6fdaf.jpeg);
    background-size: cover;
  }
</style>